<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="backupConcole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <backupConcole.Properties.Settings>
            <setting name="SourcePath" serializeAs="String">
                <value>D:\Computer Science 1\</value>
            </setting>
            <setting name="BackUpPath" serializeAs="String">
                <value>/media/usb/WouterBackups/</value>
            </setting>
            <setting name="BackUpUserName" serializeAs="String">
                <value>backup_client</value>
            </setting>
            <setting name="BackUpPassword" serializeAs="String">
                <value>A.Wz)Ey`{E$QR6jf</value>
            </setting>
            <setting name="BackupHostName" serializeAs="String">
                <value>84.83.178.144</value>
            </setting>
            <setting name="BackupHostKeyFingerprint" serializeAs="String">
                <value>ssh-ed25519 256 b5:f6:b1:33:3e:63:9a:e6:5a:d1:df:2f:a5:b8:65:c3</value>
            </setting>
            <setting name="RunPath" serializeAs="String">
                <value>D:\programs</value>
            </setting>
        </backupConcole.Properties.Settings>
    </userSettings>
</configuration>