<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="backupConcole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <backupConcole.Properties.Settings>
            <setting name="SourcePath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackUpPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackUpUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="BackUpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupHostName" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupHostKeyFingerprint" serializeAs="String">
                <value />
            </setting>
            <setting name="RunPath" serializeAs="String">
                <value />
            </setting>
        </backupConcole.Properties.Settings>
    </userSettings>
</configuration>